@import "tailwindcss";
html, body, #root {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Light', sans-serif;
    font-weight: bold;
    background: #ffffff;
}
